#first {
    color: blue;

    a:hover {
        font: Normal 12px NanumGothic;
        color: #ff0088;
        text-decoration: none;
    }
}

#second {
    color: red;
}

#third {
    color: green;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black
}

thead {
    background-color: gray;
}